
	.s-menu{transition:display 600ms ease;}
	.fixed-top{transition:display 600ms ease;}
	.first-color{color:#ff007a;}
	.bg-first-color{background-color:#ff007a;}
	.mainInfo{height:40px;background-color:#e70a74;}
	.home-background{height:600px;background-position:100% 100%;background-size:100% 100%;background-image:url('../../assets/img/work.jpg');}
	.home-transparent{height:100%;width:100%;background:rgba(0,0,0,0.6);}
	.btn-readmore, .btn-getstarted{font-size: 16px;padding: 10px 20px;border-radius: 0px;transition:all 400ms ease;}
	.btn-readmore:hover{color:white !important;background:#ff007a !important;}
	.btn-getstarted:hover{color:#ff007a !important;background:white !important;}
	.btn-readmore{background:white !important;color:#ff007a;}
	.btn-getstarted{color:white;background:#ff007a;}
	.home-content{margin-top:200px;}
	.home-content div{margin-top:50px;text-align:center}
	.home-content h1{color:white;font-size:70px;font-weight:bold;font-family: lato;text-align:center}
	.home-content h1 span {color:#ff007a;}
	.home-content h5 {color:white;text-align:center;}
	.s-about{margin-top:70px;}
	.title-about{font-weight:bold;text-transform:capitalize;}
	.p-about{font-size: 20px;text-align: justify;}
	.list-about{list-style:none;padding-left:0px}
	.list-about li{margin-top:20px;display:flex;}
	.icon-about{background: #ff007ac2;padding: 10px;border-radius: 50%;color: white;transition:all 600ms ease-in;}
	.list-about li:hover .icon-about{background: white;border-radius: 50%;color: #ff007ac2;border:1px solid #ff007ac2;}
	.txt-about{font-size:22px;padding-left:10px;}
	.feature-content{border:1px solid #c0c0c045;box-shadow:inset 0em 0em #ff007a, 0px 0px 10px #c0c0c033;;border-radius: 5px;;padding:20px;transition:all 900ms ease-in;}
	.feature-content span{font-size:65px;color:#ff007a;padding:15px}
	.feature-content h6{font-weight:bold;}	
	.feature-content:hover{color:white;box-shadow:inset 50em 0em #ff007a;}
	.feature-content:hover span{color:white;}
	.content-pricing{background-color:white;height:100%;border-radius:5px;background: white;border:1px solid #ff007a}
	.content-pricing h5{color:rgba(0,0,0,0.5);padding-top:15px;font-weight:bold;}
	.content-pricing span{font-size:70px;color:#ff007a;}
	.content-pricing ul{list-style:none;padding:10px 20px;}
	.content-pricing ul li{padding:10px 0px;}
	.list-pricing li span{color:rgba(0,0,0,0.5); font-size:1rem;}
	.content-pricing h1{font-size:35px !important;font-family:lato;color:rgba(0,0,0,0.5)}
	.content-pricing a{border-radius:0px;margin-top:20px;border:0px;padding:8px 60px;font-size:14px;font-weight:400;background:#ff007a;color:white;}
	.s-work{margin-top:50px;}
	.s-work h1{text-align:center;font-weight:bold;}
	.content-work{overflow:hidden;position:relative;}
	.content-work div{background:rgba(0,0,0,0.5);height:100%;width:100%;position:absolute;z-index:10;opacity:0;transition:all 400ms ease;}
	.content-work div a{display:block;color:rgba(255,255,255,0.8);font-size:70px;text-align:center;margin-top:100px;text-decoration:none;}
	.content-work img{height:250px;width:100%;transition:all 400ms ease;z-index:5;}
	.content-work:hover	 div{;opacity:1;}	
	.content-work:hover img{filter:grayscale(100%);transform:scale(1.5);}
	.content-team{box-shadow: 5px 5px 10px #0000001a;overflow:hidden;transition:all 200ms ease;padding:0px;}
	.content-team div{transition:all 200ms ease;background:white;text-align:center;padding:10px}
	.content-team:hover div{transform:translate(0px);}
	.content-team img{height:250px;width:100%;position:relative;transition:all 600ms linear}
	.content-team div h4{color:#ff007a;font-weight:600;}
	.content-team div p{color:#00000080;}	
	.social-team{display:none;position:absolute;background:#ffffff75 !important;height:100%;top:0px;padding:20px !important}
	.social-team ul{list-style:none;padding-left:0px;}
	.social-team ul li{margin-top:20px;}
	.social-team ul li a,.social-team ul li a:hover{text-decoration:none;font-size:25px;color:inherit}
	.social-team ul li .icofont-facebook{color:#3b5998}
	.social-team ul li .icofont-instagram{color:#bc2a8d}
	.social-team ul li .icofont-twitter{color:#00aced}
	.social-team ul li .icofont-pinterest{color:#cb2027}
	.content-team:hover .social-team{display:block;animation:1s ease 0s normal none 1 fadeInRight;}
	.content-team:hover img{transform: scale(1.1,1) translate(-10px,0px);}
	.content-payment img{margin:10px;height: 80px;;border-radius: 5px;transition:all 600ms ease-in-out;}
	.content-payment img:hover{transform:translate(0px,-15px);}
	.mainTitle{position:relative;font-size:40px;font-weight:bold;text-align:center;margin-bottom:50px;}
	.mainTitle::after{content: "";position: absolute;bottom: -10px;left: 0;right: 0;border-top: 3px solid #ff007a;z-index: -1;margin: 0 auto;width: 60px;}
	.blog{position:relative;box-shadow : 0px 0px 5px #c0c0c066;overflow:hidden;}
	.blog .blog-img{overflow:hidden;}
	.blog .blog-img  img{height:200px;width:100%;transition:all 400ms linear;}
	.blog:hover .blog-img  img{transform:scale(1.05,1.05);}
	.blog-content{padding:10px;}
	.blog-content .blog-meta{list-style:none;padding-left:0px;}
	.blog-content {padding:20px 10px 0px 10px}
	.blog-content .blog-meta li{display:inline-block;margin-right:10px;}
	.blog-meta li span{color:#ff007a;}
	.blog-content .blog-title{font-size:22px;font-weight:bold;}
	.blog-content p{font-family: varela round,sans-serif;}
	.blog-footer{border-top:1px solid #c0c0c066;display:flex;padding:10px;align-items:center;color:#ff3d99;}
	.blog-footer a {color:#ff3d99;text-decoration:none;}
	.blog-footer a{flex:60%;}
	.blog-footer i{background: #ff007ac2;padding: 10px;border-radius: 50%;color: white;}
	#navbar li a{color:white;}	
	.mainMenu{margin-left:auto}
	.mainMenu li a{margin-right:10px;text-transform:capitalize;position:relative;font-size:18px;margin-left:10px}
	.mainMenu li a:after{content:"";position:absolute;transition:all 400ms ease;left:0px;right:0px;border-top:2px solid white;margin:0 auto;width:0px;bottom:-1px;}
	.mainMenu li a:hover:after{width:30px;}
	.mainMenu li:last-child a{margin-right:0px;}
	.center-content-pricing, .content-pricing{transition:border-radius 300ms linear,transform 300ms linear;}
	.center-content-pricing:hover , .content-pricing:hover{border-radius:30px;transform:scale(1.05,1.05);}
	.center-content-pricing{background-color:#ff007a;height:100%;border-radius:5px;border:1px solid #ff007a;}
	.center-content-pricing h5{color:white;padding-top:15px;font-weight:bold;}
	.center-content-pricing span{font-size:70px;color:white;}
	.center-content-pricing ul{list-style:none;padding:10px 20px;}
	.center-content-pricing ul li{padding:10px 0px;}
	.center-list-pricing li span{color:rgba(255,255,255,0.95); font-size:1rem;}
	.center-content-pricing h1{font-size:35px !important;font-family:lato;color:white;}
	.center-content-pricing a{border-radius:0px;margin-top:20px;border:0px;padding:8px 60px;border:1px solid #ff007a ;font-size:14px;font-weight:400;background:white;color:#ff007a;}
	.footerContentWorld{position:relative;}
	.footerContentWorld  img{max-height:100%;max-width:100%;}
	.footerContentWorld {position:relative;}
	.footerContentWorld span{color: white;position: absolute;top: 30px;z-index: 100;left: 20px;font-size: 60px;}
	.footerContentP h5 {color:white;font-weight:700;}
	.footerContentP p{color:rgba(255,255,255,0.8);padding-top:10px;line-height:1.8}
	.footerContentP ul{display:flex;list-style:none;padding-left:0px}
	.footerContentP ul li{color:rgba(255,255,255,0.8);margin-right:10px}
	.footerContentP ul li span{color:white}
	.socialNav{float:right}
	.socialNav li a {color:#ffffffe6;text-decoration:none}
	.socialNav li{padding: .5rem 0.5rem;}
	.contactTop, .copyRight{padding:10px 0px 0px 0px;color:#ffffffe6}
	.lastGrid{background:#e70a74 !important;}
	#logo{font-weight:bold}
	.aboutContent{padding-left:12px}
	.aboutImg{height:500px;box-shadow:0px 10px 10px 1px silver;width:100%}
	.svgWave{margin-top:-100px;padding:0px;margin-bottom:-10px;}
	.footerSection{background:#ff007a;}
	#team{background: #e6e6e624;padding-bottom: 50px;padding-top: 30px;margin-top: 50px;}
	.contactForm{width:100%}
	.contactForm input,.contactForm select,.contactForm textarea{padding:8px;border-radius:0px;}
	.form-control:focus{border-color: #ff007a;box-shadow: 0 0 0 .2rem rgb(255, 0, 122);}
	#contact{margin-top:50px;}
	.copyRight a{color:white;text-decoration:underline;}
	
